<div class="container-fluid fixedbottom">
  <div class="row justify-content-center">
    <div class="col-12 mt-5 mb-3 p-4 bg-secondary text-center">
      <span class="col-1">
        <i class="fab fa-twitter"></i>
      </span>
      <span class="col-1">
        <i class="fab fa-google"></i>
      </span>
      <span class="col-1">
          <i class="fab fa-github"></i>
      </span>
      <span class="col-1">
          <i class="fab fa-linkedin"></i>
      </span>
      <span class="col-1">
          <i class="fab fa-codepen"></i>
      </span>
      <span class="col-1">
          <i class="fab fa-stack-overflow"></i>
      </span>
    </div>
  </div>
</div>