.imageUrl{
    max-height:150px
}
.spanName{
    font-weight: bold;
}
.drop {
    display: inline-block; 
    width: 35%; 
   padding: 0.60rem 1.5rem;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: palevioletred;
   border: 0;
}