<mat-sidenav-container>
  <mat-sidenav #sideNav>
    <div class="col">
      <div class="list-group">
        <a routerLink='/' class='list-group-item list-group-item-action bg-secondary text-white'
          (click)="sideNav.close()">Home</a>
        <a routerLink='/user-profile' class='list-group-item list-group-item-action bg-secondary text-white'
          (click)="sideNav.close()">My Account</a>

      </div>
      <a routerLink="/products" class="list-group-item list-group-item-action text-white" (click)="sideNav.close()"
        style="background-color: black">
        categories
      </a>

      <div *ngFor="let cate of categories|async" class="list-group">
        <a [class.active]="categor===cate.name" routerLink="all-one-ctegories" [queryParams]="{categor:cate.name}"
          class=" list-group-item list-group-item-action bg-secondary text-white" (click)="sideNav.close()">
          {{cate.name}}
        </a> 
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-nav-bar (sideNavToggle)='sideNav.toggle()'>

    </app-nav-bar>


    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>