
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.css';

body{
    box-sizing: border-box;
    //background-color: #89609E;
    font-family:sans-serif fantasy;
    height: 100vh;
}
