<div class="container">
  <div class="row">
    <div class="col-lg-4 col-12 mb-3">
      <h6 *ngIf='authserv.user$ as user'>
        <span class="rounded text-primary p-1">
          <i class="fas fa-user"></i>
        </span>{{user.displayName}} <br>
        {{user.email}}
      </h6>      
      <ul class="list-group">

        <li class="list-group-item list-group-item-action">
          <span>
            <i class="fas fa-book"></i>
          </span> 
          <a class="nav-link stretched-link" routerLink='user-orders'>my order</a>
        </li>
        <li class="list-group-item list-group-item-action">
          <span>
            <i class="fas fa-map-marker-alt"></i>
          </span> 
          <a class="nav-link stretched-link" routerLink='user-adress'>Shipping Addresses</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>